@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Benguiat";
  src: url(fonts/Benguiat.ttf);
}

body {
  font-family: Arial, sans-serif;
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 2;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

button {
  background-color: transparent;
  color: white;
  font-size: 16px;
  display: flex;
  gap: 12px;
  border: none;
  outline: none;
  padding: 16px 0;
  border-bottom: 1px solid white;
}

.bgMonster {
  background-image: url("img/bg-sec2.webp");
  background-position: center;
  background-size: cover;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

ul {
  list-style: none;
}

.hero {
  background-image: url(img/hero.webp);
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;

  .left,
  .right {
    width: 30%;
  }

  .left {
    h3 {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 2px;
    }

    h1 {
      font-size: 3.7vw;
      font-family: "Benguiat", serif;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    p {
      font-size: 2vw;
      margin-bottom: 32px;
      text-align: end;
    }
  }
}

.citySection {
  flex-direction: column;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;

    .card {
      background-image: url("img/card1.webp");
      background-size: cover;
      background-position: center;
      width: 32%;
      aspect-ratio: 16/9;
      height: auto;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 20px;
    }

    .card:nth-child(2) {
      background-image: url("img/card2.webp");
    }

    .card:nth-child(3) {
      background-image: url("img/card3.webp");
    }
  }
}

.testimonialsSection {
  flex-direction: column;

  .logos {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .testimonials {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    .testimonial {
      width: 31%;
    }
  }
}

.thanksSection {
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  p {
    margin-top: 16px;
    font-size: 18px;
    max-width: 600px;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("img/bg-footer.webp");
  background-size: cover;
  background-position: center;

  .footerContent {
    display: flex;
    width: 100%;
    padding: 7vw;

    .footerLogo {
      width: 30%;
      h3 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 3.7vw;
        font-family: "Benguiat", serif;
      }
    }

    .footerSections {
      display: flex;
      justify-content: space-between;
      flex: 1;
      justify-content: end;
      gap: 6%;
      align-items: end;

      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .social {
        ul {
          display: flex;
          gap: 12px;
        }
      }
    }
  }
  .footerLogos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .infinteText {
    width: max-content;
    display: flex;

    h3 {
      color: rgb(191, 191, 191);
      font-size: 12vw;
      font-family: "Benguiat", serif;
      mix-blend-mode: color-dodge;
      animation: infiniteText 10s linear infinite;
      padding-left: 8vw;
    }
  }
}

@keyframes infiniteText {
  100% {
    transform: translateX(-100%);
  }
}
