@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Benguiat";
  src: url(fonts/Benguiat.ttf);
}

body {
  font-family: Arial, sans-serif;
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 2;
}

.hero {
  background-image: url(img/hero.webp);
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;

  .left,
  .right {
    width: 30%;
  }

  .left {
    h3 {
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 2px;
    }

    h1 {
      font-size: 3.7vw;
      font-family: "Benguiat", serif;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    p {
      font-size: 2vw;
      margin-bottom: 32px;
      text-align: end;
    }
    button {
      background-color: transparent;
      color: white;
      font-size: 16px;
      display: flex;
      gap: 12px;
      border: none;
      outline: none;
      padding: 16px 0;
      border-bottom: 1px solid white;
    }
  }
}
