@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Benguiat";
  src: url(fonts/Benguiat.ttf);
}

html,
body {
  overflow-x: hidden !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 2;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

button {
  background-color: transparent;
  color: white;
  font-size: 16px;
  display: flex;
  gap: 12px;
  border: none;
  outline: none;
  padding: 16px 0;
  border-bottom: 1px solid white;
}

.bgMonster {
  background-image: url("img/bg-sec2.webp");
  background-position: center;
  background-size: cover;
  z-index: 2;
  position: relative;
  background-color: #0c0102;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

ul {
  list-style: none;
}

.hero {
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;
  position: relative;

  picture {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .left,
  .right {
    width: 30%;
    z-index: 3;
  }

  .left {
    h3 {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 2px;
    }

    h1 {
      font-size: 3.7vw;
      font-family: "Benguiat", serif;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    p {
      font-size: 2vw;
      margin-bottom: 32px;
      text-align: end;
    }
  }
}

.hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(12, 1, 2, 0) 0%, #0c0102 100%);
  z-index: 2;
  left: 0;
  top: 0;
}

.citySection {
  flex-direction: column;
  position: relative;
  z-index: 2;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;

    .card {
      background-image: url("img/card1.webp");
      background-size: cover;
      background-position: center;
      width: 32%;
      aspect-ratio: 16/9;
      height: auto;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 20px;
    }

    .card:nth-child(2) {
      background-image: url("img/card2.webp");
    }

    .card:nth-child(3) {
      background-image: url("img/card3.webp");
    }
  }
}

.testimonialsSection {
  flex-direction: column;

  .logos {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .testimonials {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    .testimonial {
      width: 31%;
    }
  }
}

.thanksSection {
  flex-direction: column;
  align-items: center;
  text-align: center;

  .cities {
    display: flex;
    gap: 32px;
  }

  .mobileInfinite {
    display: none;
  }

  .cities {
    display: flex;
    gap: 32px;
  }

  h2 {
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  p {
    margin-top: 16px;
    font-size: 18px;
    max-width: 600px;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("img/bg-footer.webp");
  background-size: cover;
  background-position: center;

  .footerContent {
    display: flex;
    width: 100%;
    padding: 7vw;

    .footerLogo {
      width: 30%;
      h3 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 3.7vw;
        font-family: "Benguiat", serif;
      }
    }

    .footerSections {
      display: flex;
      justify-content: space-between;
      flex: 1;
      justify-content: end;
      gap: 6%;
      align-items: end;

      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .social {
        ul {
          display: flex;
          gap: 12px;
        }
      }
    }
  }
  .footerLogos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .infinteText {
    width: max-content;
    display: flex;

    h3 {
      color: rgb(191, 191, 191);
      font-size: 12vw;
      font-family: "Benguiat", serif;
      mix-blend-mode: color-dodge;
      animation: infiniteText 10s linear infinite;
      padding-left: 8vw;
    }
  }
}

@keyframes infiniteText {
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1500px) {
  .citySection {
    padding: 4vw;
  }
}

@media (max-width: 1400px) {
  .citySection .cards .card {
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
}

@media (max-width: 600px) {
  section {
    padding: 4vw;
  }
  h2 {
    font-size: 6vw;
  }

  header h2 {
    font-size: 28px;
  }
  .hero {
    flex-direction: column;
    padding: 26% 4vw 0;

    .left,
    .right {
      width: 100%;
    }

    .left {
      h3,
      h1 {
        text-align: center;
      }

      h1 {
        font-size: 12vw;
      }
    }

    .right {
      align-items: start;
      p {
        font-size: 5.5vw;
        text-align: start;
        margin-bottom: 16px;
      }
    }
  }

  .citySection {
    margin-top: 80px;
    button {
      display: none;
    }

    .cards {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;

      .card {
        width: 100%;
      }
    }
  }

  .testimonialsSection {
    .logos {
      img:nth-child(1),
      img:nth-child(3) {
        width: 20%;
      }
      img:nth-child(2) {
        width: 40%;
      }
    }

    .testimonials {
      flex-direction: column;
      gap: 48px;

      .testimonial {
        width: 100%;
      }
    }
  }

  .thanksSection {
    margin: 40px 0px 60px;
    width: 100%;

    .mobileInfinite {
      display: flex;
    }

    h2 {
      text-align: center;
    }
    ul,
    .mobileInfinite {
      width: max-content;
      gap: 32px;
      animation: infiniteText 12s linear infinite;
    }
  }

  footer {
    padding-top: 40px;
    .footerContent {
      padding: 4vw;
      flex-direction: column;

      .footerLogo {
        width: 100%;

        h2,
        h3 {
          text-align: center;
        }
        h2 {
          font-size: 12vw;
        }
      }

      .footerSections {
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;

        .social {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 40px 0px 32px;
        }

        .navigation {
          width: 40%;
        }

        .partners {
          width: 50%;

          img {
            width: 100%;
          }
        }
      }
    }

    .footerLogos {
      margin-top: 40px;
    }

    .infinteText h3 {
      font-size: 20vw;
    }
  }
}
